html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

.location-list {
  position: absolute;
  top: 30%;
  left: 3%;
  width: 15%;
  min-width: 100px;
  min-height: 200px;

  z-index: 100;
  background: #E7E5FB;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.searchBar {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 15%;
  height: 6%;
  min-width: 200px;
  min-height: 70px;

    z-index: 100;
  background: #E7E5FB;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.list-item {}